/* Base Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  font-family: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100vh;
}

/* Theme Detection - Auto switched based on system preference */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #222;
    color: #d9d9d9;
  }
  
  body a {
    color: #fff;
  }
  
  body a:hover {
    color: #ee730a;
    text-decoration: underline;
  }
  
  body .font-red {
    color: #b20f03;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #fff;
    color: #313131;
  }
  
  body a {
    color: #0051c3;
  }
  
  body a:hover {
    color: #ee730a;
    text-decoration: underline;
  }
  
  body .font-red {
    color: #fc574a;
  }
}

a {
  background-color: transparent;
  text-decoration: none;
  transition: color .15s ease;
}

.main-content {
  margin: 8rem auto;
  max-width: 60rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 100%;
}

.main-wrapper {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.h1 {
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 3.75rem;
}

.h2 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.25rem;
}

.spacer {
  margin: 2rem 0;
}

.spacer-top {
  margin-top: 4rem;
}

.spacer-bottom {
  margin-bottom: 2rem;
}

.text-center {
  text-align: center;
}

/* Footer Styles */
.footer {
  font-size: .75rem;
  line-height: 1.125rem;
  margin: 0 auto;
  max-width: 60rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 100%;
}

.footer-inner {
  border-top: 1px solid #d9d9d9;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.clearfix:after {
  clear: both;
  content: "";
  display: table;
}

.ray-id {
  text-align: center;
}

.ray-id code {
  font-family: monaco, courier, monospace;
}

/* Responsive Styles */
@media (width <= 720px) {
  .main-content {
    margin-top: 4rem;
  }
  
  .h1 {
    font-size: 1.5rem;
    line-height: 1.75rem;
  }
  
  .h2 {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}

/* Checkbox Styles */
.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #d8d8d8;
  padding: 12px;
  border-radius: 3px;
  font-size: 14px;
  cursor: pointer;
}

.checkbox-container input {
  margin-right: 8px;
}

.cloudflare-branding {
  font-size: 10px;
  color: #777;
  text-align: right;
  margin-top: 4px;
}
